.gkaptcha-container {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #CCC;
    border-radius: 4px;
    height: 180px;
    overflow: auto;
    color: #FFF;
    text-shadow: 0 -1px #666;
    margin: 10px auto;
}

.gkaptcha-input {
    height: 0px;
    width: 0px;
    line-height: 0;
    font-size: 0;
    border: none;
    background: transparent;
    pointer-events: none;
}
